{% extends "dashboard_layout.html" %}
{% block title %}BarsScreen Dashboard - Account{% endblock %}
{% block h3title %}Account{% endblock %}
{% block head %}
  {{ super() }}
  <script>
      var profile_url = "{{url_for('dashboard.editprofile')}}";
      var email_url = "{{url_for('dashboard.editemail')}}";
      var password_url = "{{url_for('dashboard.change_password')}}";
      var user_id = "{{ current_user.id }}";
  </script>
  <script src="{{ url_for('static', filename='scripts/dash_account.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
{% endblock %}
{% block content %}
  <div class="account_info">
    <div class="account_menu">
      <ul>
        <li class="acc_menu_active">Profile</li>
        <li>Login</li>
        <li>Billing</li>
      </ul>
    </div>
    <div class="account_content">
      <div class="account_modal" id="Profile">
        <form>
          <fieldset class="form_cname">
            <label for="fname">First Name</label>
            <input type="text" id="fname" required="required" class="form_input" value="{{ current_user.first_name }}" style>
          </fieldset>
          <fieldset class="form_cname">
            <label for="lname">Last Name</label>
            <input type="text" id="lname" required="required" class="form_input" value="{{ current_user.last_name }}" style>
          </fieldset>
          <fieldset class="form_cname">
            <label for="phone">Phone</label>
            <input type="text" id="phone" required="required" class="form_input" value="{{ current_user.phone_number }}" style>
          </fieldset>
          <button class="dash_button" id="profile_save">Save</button>
        </form>
      </div>
      <div class="account_modal" style="display:none;" id="Login">
        <form>
          <fieldset class="form_cname">
            <label for="fname">Email</label>
            <input type="text" id="email" required="required" class="form_input" value="{{ current_user.email }}" style>
          </fieldset>
          <button class="dash_button" id="email_save">Save</button>
        </form>
          <div class="border_break"></div>
          <h5>Reset the password for this account.</h5>
          <button class="dash_button" id="password_save">Change Password</button>
      </div>
      <div class="account_modal" style="display:none;" id="Billing">
        <p>Please reach out to <a href="mailto:info@barscreen.tv">info@barscreen.tv</a> to sort out the details of your invoicing.</p>
      </div>
    </div>
  </div>
{% endblock %}
