<div class="channel" id="show">
  <div class="channel_container">
    <div class="channel_information">
      <h3>{{ current_channel.name }}</h3>
      <p>{{ current_channel.description }}</p>
      <p>Last upload: <span>yesterday</span></p>
      <button class=dash_button>Explore Channel</button>
    </div>
    <div class="channel_shows">
      <h3>Shows</h3>
      <ul>
        {% for show in current_channel.shows %}
        <li class="show_item"><span class="show_name">{{ show.name }}</span> <button class="dash_button playlist_add">Add</button>
          <div class="show_id"> {{ show.id }}</div>
          <div class="show_info">
            <div class="show_desc">
              <p>{{ show.description }}</p>
              <p>Number of clips: <span>{{ show.clips|length }}</p>
            </div>
            <div class="show_clip">
              <div class="clip_container">
                <video id='my-video' class='video-js vjs-default-skin vjs-16-9' controls preload='auto'
                poster='{{ show.clips[-1].image_url }}' data-setup='{}'>
                  <source src='{{ show.clips[-1].clip_url }}' type='video/mp4'>
                  <p class='vjs-no-js'>
                    To view this video please enable JavaScript, and consider upgrading to a web browser that
                    <a href='https://videojs.com/html5-video-support/' target='_blank'>supports HTML5 video</a>
                  </p>
                </video>
                <script src='https://vjs.zencdn.net/7.5.4/video.js'></script>
              </div>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
