<html>

<head>
  <title>BarScreen - Login</title>
  <!-- Site CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard/login.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

  <!-- Vendor CSS -->
  <link href="{{ url_for('static', filename='vendor/hamburger.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/fontawesome/css/all.css') }}">

  <!-- Vendor JS -->
  <script src="{{ url_for('static', filename='vendor/jquery.js') }}"></script>

  <!-- Site JS -->
  <script>
    var password_url = "{{url_for('dashboard.reset_password')}}";
  </script>
  <script src="{{ url_for('static', filename='js/header.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='js/dashboard/login.js') }}"></script>

  <meta name="viewport" content="width=device-width,initial-scale=1.0">

</head>

<body>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="flash_message">
    {% for message in messages %}
    <span>{{ message }}</span>
    {% endfor %}
  </div>
  {% endif %}
  {% endwith %}
  <div class="site_container">
    <div class="splash_login">
      <div class="container_login">
        <img src="static/images/horizontal_logo.png" />
        <form method="POST" class="main">
          {{ form.csrf_token }}
          <div class="form_container">
            <feildset class="form_username">
              {{ form.email.label }}{{ form.email }}
              <!--<label for="username">Username</label>-->
              <!--<input type="text" id="username" required="required" class="username_input" style>-->
            </feildset>
            <feildset class="form_username">
              {{ form.password.label }}{{ form.password }}
              <!--<label for="password">Password</label>-->
              <!--<input type="text" id="password" required="required" class="password_input" style>-->
              <a class="forgot_password">Forgot?</a>
            </feildset>
            <feildset class="signin">
              {{ form.submit }}
              <!--<button>Sign In</button>-->
            </feildset>
          </div>
          <feildset class="form_rememberme">
            <div class="container_rememberme">
              <input type="checkbox" id="rememberMe" name="rememberMe">
              <label for="rememberMe">Keep me signed in</label>
            </div>
          </feildset>
        </form>
        <form class="alternate" style="display:none;">
          <div class="form_container">
            <feildset class="form_message">
              <p>Please submit your account email.</p>
            </feildset>
            <feildset class="form_email">
              <input id="reset_email" name="email" required="" type="text" value="" autocomplete="off">
            </feildset>
            <feildset class="signin">
              <input id="reset_submit" type="submit" name="submit" value="Submit">
            </feildset>
          </div>
        </form>
        <form class="alternate2" style="display:none;">
          <div class="form_container">
            <feildset class="form_message">
              <p>Thank You.</p>
            </feildset>
            <feildset class="form_message">
              <p>A link has been sent to your email.</p>
            </feildset>
            <feildset class="signin">
              <input id="return_submit" type="submit" name="submit" value="Login">
            </feildset>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>

</html>