<html>

<head>

  <title>BarScreen - Password</title>

  <!-- Site CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard/login.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

  <!-- Vendor CSS -->
  <link href="{{ url_for('static', filename='vendor/hamburger.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/fontawesome/css/all.css') }}">

  <!-- Vendor JS -->
  <script src="{{ url_for('static', filename='vendor/jquery.js') }}"></script>

  <!-- Site JS -->
  <script src="{{ url_for('static', filename='js/header.js') }}"></script>

  <meta name="viewport" content="width=device-width,initial-scale=1.0">

</head>

<body>
  <div class="site_container">
    <div class="splash_login">
      <div class="container_login">
        <img src="{{ url_for('static', filename='images/horizontal_logo.png') }}" />
        <form method="POST">
          {{ form.csrf_token }}
          {{ form.token }}
          <div class="form_container">
            <feildset class="form_username">
              {{ form.password.label }}{{ form.password }}
            </feildset>
            <feildset class="form_username">
              {{ form.confirm.label }}{{ form.confirm }}
            </feildset>
            <feildset class="signin">
              {{ form.submit }}
            </feildset>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>

</html>