{% extends "admin_layout.html" %}
{% block title %}Admin - Add Channel{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
    <div class="section">
      <h2>New Channel</h2>
      <div class="channel_form_container">
        <form method="POST"  enctype="multipart/form-data">
        {{ form.csrf_token }}
        <div class="form_container">
          <feildset class="form_cname">
            {{ form.channel_name.label }}{{ form.channel_name }}
            <!--<label for="fname">First Name:</label>-->
            <!--<input type="text" id="fname" required="required" class="form_input" style>-->
          </feildset>
          <feildset class="form_category">
            {{ form.category.label }}{{ form.category }}
            <!--<label for="lname">Last Name:</label>-->
            <!--<input type="text" id="lname" required="required" class="form_input" style>-->
          </feildset>
          <feildset class="form_description">
            {{ form.description.label }}{{ form.description }}
            <!--<label for="email">Email:</label>-->
            <!--<input type="text" id="email" required="required" class="form_input" style>-->
          </feildset>
          <feildset class="form_channel_img">
            {{ form.channel_img.label }}{{ form.channel_img }}
            <!--<label for="phone">Phone:</label>-->
            <!--<input type="text" id="phone" required="required" class="form_input" style>-->
          </feildset>
          <feildset class="submit">
              {{ form.submit }}
              <!--<button>Submit</button>-->
          </feildset>
        </div>
      </form>
      </div>
      <div>
        {% if error %}
        <p><strong>Error:</strong> {{ error }}</p>
      {% endif %}
      </div>
  </div>
{% endblock %}
