{% extends "admin_layout.html" %}
{% block title %}Admin - {{ current_channel.name }}{% endblock %}
{% block head %}
  {{ super() }}

{% endblock %}
{% block content %}
    <div class="section">
      <div class="channel_header">
        <div class="channel_img">
          <img src="{{ current_channel.image_url }}"/>
        </div>
        <div class="channel_title">
          <h2>{{ current_channel.name }}</h2>
          <p>Category: <span>{{ current_channel.category }}</span></p>
          <p>{{ current_channel.description }}</p>
        </div>
      </div>
    </div>
    <div class="section" id="showlist_container">
      <h2>Shows</h2>
      <a href="{{ url_for('admin.addshow', channel_id=current_channel.id) }}"><button class="dash_button">Add New</button></a>
      <div class="show_list">
        <table id="shows_table" class="display">
          <thead>
            <tr>
              <th>Show</th>
              <th>Number of Clips</th>
            </tr>
          </thead>
          <tbody>
            {% for show in current_channel.shows %}
              <tr>
                <td><a href="{{ url_for('admin.showid', channel_id=current_channel.id, show_id=show.id) }}">{{ show.name }}</a></td>
                <td>{{ show.clips|length }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
{% endblock %}
