{% extends "admin_layout.html" %}
{% block title %}Admin - Channels{% endblock %}
{% block head %}
  {{ super() }}

{% endblock %}
{% block content %}

    <div class="section">
      <h2>Channels</h2>
      <a href="{{ url_for('admin.addchannel') }}"><button class="dash_button">Add New</button></a>
      <table id="channels_table" class="display">
        <thead>
          <tr>
            <th>Channel</th>
            <th>Category</th>
          </tr>
        </thead>
        <tbody>
          {% for channel in channels %}
          <tr>
            <td><a href="{{ url_for('admin.channelid', channel_id=channel.id) }}">{{ channel.name }}</a></td>
            <td>{{ channel.category }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

{% endblock %}
