{% extends "admin_layout.html" %}
{% block title %}Clips{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
    <div class="section">
      <h2>Clips</h2>
      <table id="clip_dash" class="display">
        <thead>
          <tr>
            <th>Date Created</th>
            <th>Clip</th>
            <th>Channel</th>
            <th>Show</th>
            <th>Duration</th>
          </tr>
        </thead>
        <tbody>
          {% for clip in clips %}
          <tr>
            <td>{{ clip.date_created }}</td>
            <td><a href="{{ url_for('admin.clipid', clip_id=clip.id, channel_id=clip.show.channel.id, show_id=clip.show.id) }}">{{ clip.name }}</a></td>
            <td>{{ clip.show.channel.name }}</td>
            <td>{{ clip.show.name }}</td>
            <td>{{ clip.duration }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}
