{% extends "admin_layout.html" %}
{% block title %}Admin - Show{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}
{% block content %}
<div class="section">
  <div class="channel_header">
    <h2>{{ current_show.name }}</h2>
    <p>{{ current_show.description }}</p>
    <div class="show_settings">
      <p>Order: <span>{{ current_show.order }}</span></p>
      <p>Lookback: <span>{{ current_show.lookback }}</span></p>
    </div>
  </div>
</div>
<div class="section" id="showlist_container">
  <h2>Clips</h2>
  <a href="{{ url_for('admin.addclip', channel_id=channel_id, show_id=current_show.id) }}"><button
      class="dash_button">Add New</button></a>
  <div class="show_list">
    <table id="shows_table" class="display">
      <thead>
        <tr>
          <th>Date Added</th>
          <th>Clip</th>
          <th>Duration</th>
        </tr>
      </thead>
      <tbody>
        {% for clip in current_show.clips %}
        <tr>
          <td>{{ clip.date_created }}</td>
          <td><a href="{{ url_for('admin.clipid', clip_id=clip.id, channel_id=channel_id, show_id=current_show.id) }}">{{ clip.name }}</a></td>
          <td>{{ clip.clip_url }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
