{% extends "admin_layout.html" %}
{% block title %}Admin - {{ current_user.company }}{% endblock %}
{% block head %}
{{ super() }}
<script src="{{ url_for('static', filename='scripts/manage_user.js') }}"></script>
{% endblock %}
{% block content %}
<div class="section">
  <div class="user_information">
    <div class="user_general">
      <h3><a href="#" id="company" data-type="text" data-pk="{{ current_user.id }}" data-url="{{ url_for('admin.user', user_id=current_user.id) }}" data-title="Enter new company name">{{ current_user.company }}</a></h3>
      <p><span>Email:</span><a href="#" id="email" data-type="text" data-pk="{{ current_user.id }}" data-url="{{ url_for('admin.user', user_id=current_user.id) }}" data-title="Enter new email">{{ current_user.email }}</a></p>
      <p><span>First Name:</span><a href="#" id="first_name" data-type="text" data-pk="{{ current_user.id }}" data-url="{{ url_for('admin.user', user_id=current_user.id) }}" data-title="Enter new first_name">{{ current_user.first_name }}</a></p>
      <p><span>Last Name:</span><a href="#" id="last_name" data-type="text" data-pk="{{ current_user.id }}" data-url="{{ url_for('admin.user', user_id=current_user.id) }}" data-title="Enter new last name">{{ current_user.last_name }}</a></p>
      <p><span>Phone Number:</span><a href="#" id="phone_number" data-type="text" data-pk="{{ current_user.id }}" data-url="{{ url_for('admin.user', user_id=current_user.id) }}" data-title="Enter new phone number">{{ current_user.phone_number }}</a></p>
    </div>
    <div class="user_general" id="user_flags">
          <p><span>Confirmed: </span><a href="#" id="confirmed" data-type="select" data-pk="{{ current_user.id }}" data-url="{{ url_for('admin.user', user_id=current_user.id) }}" data-title="Enter new Ads value">{{ current_user.confirmed }} <i class="fas fa-caret-down"></i></a></p>
          <p><span>Approved for ads: </span><a href="#" id="ads" data-type="select" data-pk="{{ current_user.id }}" data-url="{{ url_for('admin.user', user_id=current_user.id) }}" data-title="Enter new Ads value">{{ current_user.ads }} <i class="fas fa-caret-down"></i></a></p>
    </div>
  </div>
  <div class="add_containers">
    <a href="{{ url_for('admin.addpromo', user_id=current_user.id) }}"><button class="dash_button">Add New Promo</button></a>
    <a href="{{ url_for('admin.addloop', user_id=current_user.id) }}"><button class="dash_button">Add New Loop</button></a>
  </div>
</div>
<div class="section">
    <div class="table_selector">
        <div class="table_button" id="loop_selector">Loops</div><!--
      --><div class="table_button" id="promo_selector">Promos</div>
    </div>
    <div class="table_container">
      <div class="table_switcher_loop">
        <table id="userloop_table" class="display">
          <thead>
            <tr>
              <th>Name</th>
              <th>Segments</th>
            </tr>
          </thead>
          <tbody>
            {% for l in current_user.loops %}
            <tr>
              <td><a href="{{ url_for('admin.editloop', loop_id=l.id, user_id=current_user.id) }}">{{ l.name }}</a></td>
              <td>{{ l.playlist|length }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="table_switcher_promo">
        <table id="userpromo_table" class="display">
          <thead>
            <tr>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
            {% for promo in current_user.promos %}
            <tr>
              <td><a href="{{ url_for('admin.promoid', promo_id=promo.id, user_id=current_user.id) }}">{{ promo.name }}</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
</div>
{% endblock %}
