{% extends "layout.html" %}
{% block title %}BarsScreen - 404{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
    <div class="nopage_splash" id="nopage">
    </div>
    <div class="section_splash">
      <div class="title">
        <h3>Page Not Found</h3>
      </div>
    </div>
    <div class="section">
      <div class="nopage_container">
        <img class="no_glass" src="static/images/emptyglass.png">
        <div class="nopage_copy">
          <h3>Uh-oh. Looks like this glass is empty.</h3>
      </div>
    </div>
    </div>
{% endblock %}
