.about_splash{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -9999;
  width: 100%;
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.about_splash:before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #232323cc;
}

#about{
  background: url("../images/about_splash.jpg") no-repeat center center fixed;
  height: calc(141px + 2em);
}

.title {
  color: #F0F4FF;
  z-index: 9999;
  margin-top: calc(64px + 2em);
  text-transform: uppercase;
}

.title h3{
  font-weight: 600;
  font-size: 2.25em;
  margin: 0;
  text-align: center;
  margin-bottom: 1em;
}

#about_subtitle{
  color: #232323;
}
