.splash_signup{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -9999;
  width: 100%;
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.splash_signup:before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #232323cc;
}

#signup{
  background: url("../images/signup_splash.jpg") no-repeat center center fixed;
  height: calc(141px + 2em);
}

.title {
  color: #F0F4FF;
  z-index: 9999;
  margin-top: calc(64px + 2em);
  text-transform: uppercase;
}

.title h3{
  font-weight: 600;
  font-size: 2.25em;
  margin: 0;
  text-align: center;
}

/* Flash Message */

.flash_message{
  position: relative;
  width: 100%;
  font-weight: 600;
  z-index: -1;
  box-sizing: border-box;
  margin-top: 2em;
  background-color: #EF9F00;
  padding: 1em;
  border: 1px solid #232323;
}

/* Sign Up */

.signup_copy{
  margin-top: 4em;
}

.signup_copy h3{
  font-weight: 500;
  font-size: 1.5em;
}

.form_container{
  margin-top: 2em;
}

.form_container feildset{
  display: inline-block;
  padding: 2em 0;
  width: calc(50% - .5em);
  box-sizing: border-box;
}

.form_container feildset:last-child{
  display:block;
  width: inherit;
}

.form_container feildset label{
  font-weight: 600;
  display: block;
  margin-bottom: .5em;
}

.form_container feildset input{
  display: block;
  background-color: transparent;
  -webkit-appearance: none;
  border-style: solid;
  padding: .5em;
  border-bottom: 1px solid #232323;
  border-top: 2px solid transparent;
  border-right: 2px solid transparent;
  border-left: 2px solid transparent;
  font-size: 1em;
  box-sizing: border-box;
  width: 90%;
}

.form_container feildset input:focus{
  outline: none;
  border: 2px solid  #8D9499;
  background-color: #fff;
  border-radius: 5px;
  box-sizing: border-box;
}


.submit input#submit{
font-weight: 600;
background-color: #EF9F00;
color: #232323;
border: none;
border-bottom: #DA9100 solid 3px !important;
padding: 0.5em 1.5em 0.5em 1.5em;
border-radius: 8px;
font-size: 1.25em;
width: inherit;
display: block;
font-family: 'Source Sans Pro', sans-serif;
}

.submit input#submit:hover{
  background-color: #F1B02E;
  cursor: pointer;
}

.submit input#submit:focus{
  outline:0;
}

@media screen and (max-width: 600px) {
  .form_container feildset{
    width: 100%;
  }
  .submit input#submit{
    margin-left: auto;
    margin-right: auto;
  }

}
