<html>

<head>
  {% block head %}
  <title>{% block title %}{% endblock title %}</title>

  <!-- Site CSS -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" type="text/css" title="admin" href="{{ url_for('static', filename='css/admin/admin.css') }}">
  
  <!-- Vendor CSS-->
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/fontawesome/css/all.css') }}">
  <link href="{{ url_for('static', filename='vendor/hamburger.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/datatables/jquery.dataTables.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/xeditables/jquery-editable.css') }}" rel="stylesheet">

  <!-- Page Specific CSS -->
  {% block css %}
  {% endblock css %}



  <!-- Vendor JS -->
  <script src="{{ url_for('static', filename='vendor/jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/datatables/jquery.dataTables.min.js') }}"></script>
  <script>$.fn.poshytip = { defaults: null }</script>
  <script src="{{ url_for('static', filename='vendor/xeditables/jquery-editable-poshytip.min.js') }}"></script>

  <!-- Site JS-->
  <script src="{{ url_for('static', filename='js/header.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='js/admin/admin.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='js/loader.js') }}" type="text/javascript"></script>
  
  <!-- Page Specific JS -->
  {% block js %}
  {% endblock js %}
  
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  
  {% endblock head %}

<body>
  <div class="site_container">
    <nav>
      <div class="nav_container">
        <div class="site_logo">
          <img class="logo" src="{{ url_for('static', filename='images/barscreenlogo.png') }}">
          <div class="logo_title">
            <span>Admin</span>
          </div>
        </div>
        <button class="hamburger hamburger--minus" type="button">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
        <div class="nav_menu">
          <ul>
            <a href="{{ url_for('admin.index') }}"><li>Users</li></a>
            <a href="{{ url_for('admin.channels') }}"><li>Channels</li></a>
            <a href="{{ url_for('admin.clips') }}"><li>Clips</li></a>
            <a href="{{ url_for('admin.logout') }}"><li>Log Out</li></a>
          </ul>
        </div>
      </div>
    </nav>
    <div id="loader"></div>
    {% with messages = get_flashed_messages() %}
       {% if messages %}
        <div class="flash_message">
          {% for message in messages %}
             <span>{{ message }}</span>
          {% endfor %}
        </div>
       {% endif %}
    {% endwith %}
    <div id="content">
    {% block content %}{% endblock %}
    </div>
  </div>

</html>
