{% extends "layout.html" %}
{% block title %}BarsScreen{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
    <div class="splash">
    </div>
    <div class="section_splash">
      <div class="splash_text">
        <h3>The only customized channel</h3>
        <h2>For your restaurant</h2>
        <h4>BarScreen is a smart TV channel that combines custom promotions, top tier shows and monetization options for pubs and restaurants.</h4>
        <a href="/signup"><button>SIGN UP <i class='fas fa-arrow-right'></i></button></a>
        <p><span>Always Free</span> - Get started in seconds</p>
      </div>
    </div>
    <div class="section">
      <div class="text_container">
        <h2>What makes BarScreen unique?</h2>
        <h3>BarScreen is the first channel to bring a feature set specifically for restaurants and pubs</h3>
      </div>
      <div class="threeset_row">
        <div class="three_item">
          <img src="static/images/content_icon.png" />
          <h3>Premium Content</h3>
          <p>Select shows local from our library of sports, news and coverage of the latest events.</p>
        </div>
        <div class="three_item">
          <img src="static/images/promotion_icon.png" />
          <h3>Promotion Segments</h3>
          <p>Engage with your restuant community with our custom video templates.</p>
        </div>
        <div class="three_item">
          <img src="static/images/advertising_icon.png" />
          <h3>Advertising Revenue</h3>
          <p>We pay you a share of the advertising revenue displayed on your channel.</p>
        </div>
      </div>
    </div>
    <div class="contact_row">
      <div class="contact">
        <h2>Want more information?</h2>
        <a href="/contact">
          <button>Contact Us</button>
        </a>
      </div>
    </div>
{% endblock %}
