<html>

<head>

  {% block head %}

  <title>{% block title %}Barscreen{% endblock %}</title>


  <!-- CSS to be included on all pages using this layout.-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base/style.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/fontawesome/css/all.css') }}">
  <link href="{{ url_for('static', filename='css/base/hamburger.css') }}">

  <!-- Page specific css. -->
  {% block css %}
  {% endblock css %}


  <!-- JS to be included on all pages using this layout. -->
  <script src="{{ url_for('static', filename='vendor/jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='js/base/header.js') }}"></script>

  <!-- Page specific js-->
  {% block js %}
  {% endblock js  %}

  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  {% endblock head %}

</head>

<body>
  <div class="site_container">
    <nav>
      <div class="nav_container">
        <a href="/">
          <div class="site_logo">
            <img class="logo" src="{{ url_for('static', filename='images/barscreenlogo.png') }}">
            <!-- <img class="logo" src="static/images/barscreenlogo.png"> -->
            <div class="logo_title">
              <span>BarScreen</span>
            </div>
          </div>
        </a>
        <button class="hamburger hamburger--minus" type="button">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
        <div class="nav_menu">
          <ul>
            <li><a href="{{ url_for('base.features') }}">Features</a></li>
            <li><a href="{{ url_for('base.about') }}">About</a></li>
            <li><a href="{{ url_for('dashboard.login') }}">Log In</a></li>
          </ul>
        </div>
      </div>
    </nav>
    {% block content %}{% endblock %}
  </div>
  <div class="footer">
    <div class="section">
      <h4><i class="fa fa-copyright"></i> BarScreen 2019</h4>
    </div>
  </div>
</body>

</html>