{% extends "dashboard_layout.html" %}
{% block title %}BarsScreen Dashboard - New Promo{% endblock %}
{% block h3title %}New Promo{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<div class = account_container>
  <div class="promo_form_container">
    <form method="POST" enctype="multipart/form-data">
      {{ form.csrf_token }}
      <div class="form_container">
        <feildset class="form_cname">
          {{ form.promo_name.label }}{{ form.promo_name }}
        </feildset>
        <feildset class="form_description">
          {{ form.description.label }}{{ form.description }}
        </feildset>
        <feildset class="form_clip">
          {{ form.clip_file.label }}{{ form.clip_file }}
        </feildset>
        <feildset class="submit">
          {{ form.submit }}
        </feildset>
      </div>
    </form>
  </div>
  <div class="thumbnail_container">
    <div class="thumbnail">
    </div>
  </div>
</div>
{% endblock %}
