{% extends "dashboard_layout.html" %}
{% block title %}BarsScreen Dashboard{% endblock %}
{% block h3title %}Account Activity{% endblock %}
{% block head %}
  {{ super() }}
  <script src="{{ url_for('static', filename='scripts/dashchart.js') }}" type="text/javascript"></script>
{% endblock %}
{% block content %}
  <div class="selector_wrapper">
    <div class="selector_container">
      <select>
        <option value="today">Today</option>
        <option value="yesterday">Yesterday</option>
        <option value="lastmonth">Last Month</option>
        <option value="monthtodate">Month to Date</option>
        <option value="last7days">Last 7 Days</option>
        <option value="last30days">Last 30 Days</option>
      </select>
      <button>
        <i class="fas fa-sync-alt"></i>
      </button>
    </div>
  </div>
  <div class="account_wrapper">
    <div class="account_stats">
      <ul class="stats">
        <li><h3>Video Plays</h3><p>25,500</p></li>
        <li><h3>Opportunities</h3><p>10,000</p></li>
        <li><h3>Impressions</h3><p>7,500</p></li>
        <li><h3>Fill Rate</h3><p>75.00%</p></li>
        <li><h3>Revenue</h3><p>$187.50</p></li>
        <li><h3>CPM</h3><p>$25.00</p></li>
      </ul>
    </div>
  </div>
  <div class="chart_wrapper">
    <div class="chart_container">
      <canvas id="myChart"></canvas>
    </div>
  </div>
{% endblock %}
