{% extends "layout.html" %}
{% block title %}BarsScreen - About{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="static/styles/about.css">
{% endblock %}
{% block content %}
    <div class="about_splash" id="about">
    </div>
    <div class="section_splash">
      <div class="title">
        <h3>About</h3>
      </div>
    </div>
    <div class="section">
      <div class="text_container">
        <h3 id="about_subtitle">Our team is building the next generation of restaurant entertainment</h3>
        <p>BarScreen is an industry innovator in the fast paced and growing smart TV industry. Our mission is to provide innovative technology solutions to solve the problems for restaurants and pubs. We provide one platform that creates an extremely easy to use experience for managers: one smart TV channel, one dashboard, every screen. Our team is dedicated to creating best in class poducts and backing it with excellent support.</p>
        <p>We are happy to be headquartered in Victoria, British Columbia. Our little hometown has one of the highest restaurant density, which makes it the perfect location to launch our product. Our services are available across North America, so please reach out or sign up if you would like to know more.</p>
        <p>At BarScreen, we are always looking for new talented members to join our team. If you have a background in digital media or CTV development, you would be great addition. However, passion and dedication to our vision of helping restaurants is always welcomed. Please contact us with the link below and we will be in contact.</p>
      </div>
    </div>
    <div class="contact_row">
      <div class="contact">
        <h2>Want more information?</h2>
        <a href="{{ url_for('base.contact') }}">
          <button>Contact Us</button>
        </a>
      </div>
    </div>
{% endblock %}
