{% extends "layout.html" %}
{% block title %}BarsScreen - Features{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="static/styles/features.css">
{% endblock %}
{% block content %}
    <div class="contact_splash" id="contact">
    </div>
    <div class="section_splash">
      <div class="title">
        <h3>Features</h3>
      </div>
    </div>
    <div class="section" id="grid_header">
      <h3>Restaurant Advantage</h3>
    </div>
    <div class="section" id="grid_container">
      <div class="grid_wrapper">
        <div class="grid_box">
          <div class="grid_image">
            <i class="fas fa-tv"></i>
          </div>
          <div class="grid_text">
            <h4>Business Incentive</h4>
            <p>Restaurants earn money from advertisements shown on their TV screens</p>
          </div>
        </div>
        <div class="grid_box">
          <div class="grid_image">
            <i class="fas fa-cog"></i>
          </div>
          <div class="grid_text">
            <h4>Customizable Content</h4>
            <p>Managers can pick the content that is right for their patrons</p>
          </div>
        </div>
        <div class="grid_box">
          <div class="grid_image">
            <i class="fas fa-stopwatch"></i>
          </div>
          <div class="grid_text">
            <h4>Ease of Use</h4>
            <p>Easily create playlists, customize templates and check stats</p>
          </div>
        </div>
        <div class="grid_box">
          <div class="grid_image">
            <i class="fas fa-bullhorn"></i>
          </div>
          <div class="grid_text">
            <h4>Brand Awareness</h4>
            <p>Created branded promotion segments to increase customer engagement</p>
          </div>
        </div>
        <div class="grid_box">
          <div class="grid_image">
            <i class="fas fa-video"></i>
          </div>
          <div class="grid_text">
            <h4>4K Resolution</h4>
            <p>The highest quality definition provides the best picture on all Television screens</p>
          </div>
        </div>
      </div>
    </div>
    <div class="section" id="grid_header">
      <h3>Why Advertisers Love Us</h3>
    </div>
    <div class="section" id="grid_container">
      <div class="grid_wrapper">
        <div class="grid_box">
          <div class="grid_image">
            <i class="fas fa-check-square"></i>
          </div>
          <div class="grid_text">
            <h4>Verified Locations</h4>
            <p>We audit and verify all our locations to ensure viewable screens and restaurant traffic</p>
          </div>
        </div>
        <div class="grid_box">
          <div class="grid_image">
            <i class="fas fa-users"></i>
          </div>
          <div class="grid_text">
            <h4>Muliple Views Per Ad</h4>
            <p>Markets acquire a larger audience than traditional video ads resulting in a higher ROI</p>
          </div>
        </div>
        <div class="grid_box">
          <div class="grid_image">
            <i class="fas fa-shield-alt"></i>
          </div>
          <div class="grid_text">
            <h4>Brand Safety</h4>
            <p>Safe content on trusted premium content partners</p>
          </div>
        </div>
      </div>
    </div>
    <div class="contact_row">
      <div class="contact">
        <h2>Want more information?</h2>
        <a href="{{ url_for('base.contact') }}">
          <button>Contact Us</button>
        </a>  
      </div>
    </div>
{% endblock %}
