.dash_button{
  color: #232323;
  font-weight: 600;
  background-color: #EF9F00;
  padding: .5em 1em;
  border: none;
  margin: 1em 0;
}

.dash_button:hover{
  cursor: pointer;
}

nav{
    background-color: #232323;
    z-index: 99999;
}

a:link {
  text-decoration: none;
  color: #232323;
}

a:visited {
  text-decoration: none;
  color: #232323;
}

a:hover {
  text-decoration: underline;
  color: #232323;
}

a:active {
  text-decoration: underline;
  color: #232323;
}

.nav_container {
  width: 100%;

}

.site_logo .logo{
  height: 30px;
}

.site_logo .logo_title{
  height: 30px;
  font-size: 1em;
}

.site_logo .logo_title span{
  line-height: 30px;
  font-size: 1em;
}

.nav_menu{
  line-height: 30px;
  float: none;
  vertical-align: top;
}

.nav_menu ul li{
  padding: 0 1em;
}

.nav_menu ul li:last-child{
  background-color: inherit;
  color: #F0F4FF;
  font-weight: inherit;
}


.nav_menu ul li:hover{
  background-color: inherit;
  color: #EF9F00;
}

.nav_menu ul li:last-child:hover{
  background-color: inherit;
  color: #EF9F00
}

.section{
  margin-top: 50px;
  width: 90%;
}

.section h2{
  margin: 0;
}

/* User Page */
.user_general{
    padding: 1em;
    background-color: #F0F4FF;
    box-sizing: border-box;
    display: inline-block;
    margin-bottom: .5em;
    vertical-align: top;
    width: 49%;
    min-width: max-content;
    border: 1px solid #232323;
}

.user_general h3{
    font-size: 2em;
    margin: 0;
}

.user_general p{
  padding: .25em;
}

.user_general p span{
  width: 100px;
  display: inline-block;

}

.user_general p a{
  padding: .25em;
  margin-right: 3em;
  width: 100px;
  margin-left: 1em;
}

.user_general a:hover{
  background-color: #fff;
}

#user_flags p{
  font-weight: 600;
}

#user_flags a{
  padding: .25em .5em;
  background-color: #EF9F00;
}

#user_flags span{
  width: 150px;
  display: inline-block;
}

#user_flags #confirmed_user{
  width: inherit;
  padding: .25em .5em
}

#user_flags .btn{
  margin: 0 1em;
}

.add_containers{
  width: 100%;
  min-width: max-content;
  padding: .5em 1em;
  background-color: #232323;
  box-sizing: border-box;
}

.add_containers .dash_button{
  margin: 0 .5em;
}

.table_selector{
  border-top: 1px solid #232323;
  border-bottom: 1px solid #232323;
  margin-bottom: 1em;
}

.table_selector .table_button{
  margin: 0;
  text-transform: uppercase;
  font-weight: 400;
  font-size: .75em;
  padding: .5em 1em;
  display: inline-block;
  background-color: #F0F4FF;
  transition: all 3s;
}


.table_selector .table_button:hover{
  cursor: pointer;
  color: #fff;
  background-color: #000DFF;
}

.table_container{
  position: relative;
}

.table_switcher_loop{
  position: absolute;
  width: 100%;
}

.table_switcher_promo{
  position: absolute;
  width: 100%;
  display: none;
}

/* Channel Add */

.channel_form_container feildset{
  display: block;
  margin: 1em 0;
}

.channel_form_container feildset label{
  display: inline-block;
  width: 30%;
  max-width: 200px;
  vertical-align: top;
}

.channel_form_container #submit{
  color: #232323;
  font-weight: 600;
  background-color: #EF9F00;
  padding: .5em 1em;
  border: none;
}

/* Individual Channel */

.channel_header{
  padding-bottom: 1em;
  border-bottom: 1px solid #232323;
}

.channel_header .channel_img{
  width: 25%;
  display: inline-block;
  min-width: 200px;
}

.channel_header .channel_title{
  display: inline-block;
  vertical-align: top;
  padding: 0 1em;
  width: calc(74% - 2em)
}

.channel_header .channel_img img{
  width: 100%;
}

.show_settings{
  padding: .25em 0;
}

.show_settings p{
  margin: .25em 0;
}

#showlist_container{
  margin-top: 0;
}

/* Add Loop */
.section:nth-child(2){
  margin-top: 10px;
}

.loop_name_container label{
  font-size: .75em;
  margin-right: .25em;
}


.loop_list{
  display: inline-block;
  box-sizing: border-box;
  width: 300px;
  float: left;
}

.cliptable{
  display: inline-block;
  box-sizing: border-box;
  width: calc(100% - 300px);
}

.loop_table{
  width: 95%;
  margin-top: 30px;
  border-collapse: collapse;
}

.loop_table tr{
  border-spacing: 0;
}

.loop_table tr:nth-child(even){
  background-color: #000DFF33;
}

.loop_table tr td{
  padding: .5em 0.25em;
  box-sizing: border-box;
  background-color: #8D949933;
}

#loop_table th{
  display: none;
}

.loop_table tr td{
  display: none;
}

.loop_table tr td:first-child{
  display: table-cell;
}

.loop_img_container{
  max-width: 200px;
}

.loop_img_container img{
  width: 100%;
}
