@import url('https://fonts.googleapis.com/css?family=Sarabun:400,800|Source+Sans+Pro:400,600,900');

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  margin: 0;
  background-color: #8D9499;
  font-family: 'Source Sans Pro', sans-serif;
}

nav a{
  text-decoration: none;
  color: inherit;
}

.dash_button{
  color: #232323;
  font-weight: 600;
  background-color: #EF9F00;
  padding: .5em 1em;
  border: none;
}

.dash_button:focus{
  outline: none;
}

.dash_button:hover{
  background-color: #F1B02E;
  cursor: pointer;
}

fieldset{
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  margin-bottom: 1em;
}

fieldset label{
  display: block;
  font-weight: 600;
  font-size: .8em;
  margin-bottom: .5em;
}

fieldset input{
  padding: .5em;
  font-size: 1em;
  color: #232323;
  background-color: #F0F4FF;
  border: 1px solid  #8D9499;
  border-radius: 5px;
  width: 50%;
  min-width: max-content;
  box-sizing: border-box;
}

fieldset textarea{
  padding: .5em;
  font-size: 1em;
  color: #232323;
  background-color: #F0F4FF;
  border: 1px solid  #8D9499;
  border-radius: 5px;
  box-sizing: border-box;
}

fieldset input:focus{
  outline: none;
  border: 1px solid  #EF9F00;
}

fieldset textarea:focus{
  outline: none;
  border: 1px solid  #EF9F00;
}

select{
  background-color: #F0F4FF;
  color: #232323;
  padding: 1em;
  height: 35px;
  font-size: .75em;
  border: #232323aa 1px solid;
  border-radius: 0;
}

/* Nav Bar */
nav{
  width: 100%;
  background-color: #232323;
  margin: 0;
  border-bottom: 3px solid #EF9F00;
}

.nav_container{
  color: #F0F4FF;
}

/* Home Logo */
.site_logo{
  display: inline-block;
  padding: .5em 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.site_logo img{
  height: 2em;
}

/* Navigation Links */
.nav_menu{
  display: inline-block;
  height: 2em;
  vertical-align: top;
}

.nav_menu ul{
  display: inline-block;
  list-style: none;
  margin: 0;
  line-height: 2em;
}

.nav_menu ul li{
  display: inline-block;
  padding: .5em .5em;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.nav_menu ul a li:hover{
  cursor: pointer;
  background-color: #000000aa;
}

.nav_menu ul a li:active{
  box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   border-bottom: 3px solid #EF9F00;
}

.nav_menu ul li a i{
  height: 2em;
}

/* Account Icon */
.account_icon{
  display: inline-block;
  list-style: none;
  margin: 0;
  vertical-align: top;
  line-height: 2em;
  float: right;
}

.account_icon a{
  display: inline-block;
  padding: .5em .5em;
  line-height: 2em;
}

.account_icon a:hover{
  cursor: pointer;
  background-color: #000000aa;
}

.account_icon a i{
  line-height: 2em;
}

/* Override hamburger Css */
.hamburger{
  padding: .5em 0 !important;
  display: none;
  float: right;
  margin-right: .5em !important;
}

.hamburger-box{
  height: 2em !important;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
  background-color: #F0F4FF !important;
}
/*End Nav Bar */

/* Modal Stylings */

.modal {
    position: absolute;
    z-index: 10000; /* 1 */
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
}

.modal.is-visible {
    visibility: visible;
}

.modal-overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsla(0, 0%, 0%, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s;
}

.modal.is-visible .modal-overlay {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

.modal-wrapper{
  position: absolute;
  z-index: 9999;
  top: 6em;
  left: 50%;
  width: 60%;
  margin-left: -30%;
  background-color: #F0F4FF;
  box-shadow: 0 0 1.5em hsla(0, 0%, 0%, 0.35);
}

.modal-transition{
  transition: all 0.3s 0.12s;
  transform: translateY(-10%);
  opacity: 0;
}

.modal.is-visible .modal-transition {
  transform: translateY(0);
  opacity: 1;
  border-radius: 5px;
}

.modal_title_container{
  width: 100%;
  padding: 1em;
  border-bottom: 1px solid #232323;
}

.modal_title_container h4{
  font-size: 1.25em;
  font-weight: 600;
  margin: 0;
}


/* Title */

.title_container{
  background-color: #F0F4FF;
  margin: 0;
  padding: 1em;
  border-bottom: 1px solid #232323aa;
}

.title{
  margin: 0;
  font-weight: 600;
  font-size: 1.5em;
}


/* Data Selector */

.selector_wrapper{
  width: calc(100% - 2em);
  padding: 1em;
}

.selector_container{
  text-align: right;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.selector_container button{
  padding: 1em;
  background-color: #F0F4FF;
  border: #232323aa 1px solid;
  color: #232323;
  vertical-align: middle;
}

/* Account Summary View */

.account_wrapper{
  width: calc(100% - 2em);
  padding: 1em;
}

.account_stats{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.account_stats ul{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.account_stats ul li{
  display: inline-block;
  background-color: #F0F4FF;
  border: 1px solid #232323aa;
  width: 15%;
  min-width: 5em;
  padding: 1.5em 0;
  align-items: stretch;
  -webkit-box-align: stretch;
}

.account_stats ul li h3{
  margin: 0;
  text-align: center;
  font-weight: 600;
  font-size: .75em;
}

.account_stats ul li p{
  margin: 0;
  text-align:center;
  font-size: 1.25em;
  color: #EF9F00;
  font-weight: 600;
}

/* Dashboard Chart */

.chart_wrapper{
  padding: 1em;
}

.chart_container{
  background-color: #F0F4FF;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* Account Summary End */

/* Loops */

/* New Button */

.createnew_wrapper{
  padding: 1em 1em 0 1em;
}

.createnew button{
  font-size: 1em;
}

/* Display Loops */

.loops_wrapper{
  padding: 1em;
}

.loops_container{
  padding: .5em 0;
  border-bottom: 1px solid #F0F4FF;
}

.loops_container ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px);
}

.loops_container ul a{
  color: #232323;
}

.loops_container ul a:visited{
  color: #232323;
}

.loops_container ul a:hover{
  color: #232323;
}

.loops_container ul a:focus{
  color: #232323;
}

.loops_container ul li{
  display: inline-block;
  background-color: #F0F4FF;
  width: 100%;
  position: relative;
}

.loops_container ul li:hover{
  cursor: pointer;
}

.loops_container ul li:hover:before{
    content: "";
    display: inline;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ffffffaa;
  }
}

.loops_container ul li:first-child{
  margin-right: 0;
}

.loops_container .loop_image{
  width: 100%;
  overflow: hidden;
  height: inherit;
}

.loops_container ul li img{
  width: 100%;
}

.loop_title{
    padding: .5em;
}

.loop_title h3{
  margin: 0;
  font-weight: 600;
}

.loop_title p{
  margin: 0;
  margin-top: .5em;
  font-size: .75em;
  text-align: right;
}

/* Pagination */
.pagination {
  display: inline-block;
  float: right;
}

.pagination a {
  color: #232323;
  box-sizing: border-box;
  float: left;
  padding: .2em 1em;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a.active {
  background-color: #EF9F00;
  color: #F0F4FF;
  border: 1px solid #F0F4FF;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

/*Create Loop */

.creation_dashboard{
  background-color: #F0F4FF;
}

.creation_dashboard .playlist_col{
  width: 25%;
  max-width: 400px;
  height: calc(100% + 4em);
  overflow: scroll;
  display: inline-block;
  padding: 1em;
  border-right: #232323 1px solid;
}

.creation_dashboard .content_col{
  display: inline-block;
  vertical-align: top;
  padding: 1em;
  width: calc(100% - 25% - 5em);
}

/* Playlist */
/* Playlist Title */

.playlist_title{
  border-bottom: #8D9499 1px solid;
  padding-bottom: 1em;
}

.playlist_title h3{
  margin: 0 0 .5em 0;
  font-weight: 600;
  font-size: 1.25em;
}

.playlist_title h3 i{
  float: right;
  cursor: pointer;
  line-height: 1.25em;
  vertical-align: bottom;
}

.title_input{
  display: inline-block;
}

.title_input input{
  font-size: .65em;
}

.playlist_title .title_input span{
  display: none;
  font-size: .85em;
  color: #232323;
}

#title_edit1{
  display: none;
  font-size: .8em;
}

.playlist_title span{
  font-size: .75em;
  color: #8D9499;
  margin-right: .5em;
}

.playlist_title button{
  display: block;
  margin-top: .5em;
  font-size: .75em;
  padding: .5em 1em;
  border: none;
}


/* Item List */

.playlist_list ul{
  list-style: none;
  margin:0;
  padding:0;
}

.playlist_list ul li{
  padding: .5em 0;
  position: relative;
}

.playlist_list ul li:hover{
  cursor: pointer;
  background-color: #8D949911;
}

.playlist_list ul li:first-child{
  margin-top: .5em;
}

.playlist_list ul li div{
  display: inline-block;
  vertical-align: top;
  width: 49%;
}

.playlist_list ul li div:first-child{
  width: calc(49% - 5px);
  margin-right: 5px;
}

.playlist_list ul li div span{
  display: none;
}

.playlist_list ul img{
  width: 100%;
}

.playlist_list ul h4{
  margin: 0;
  font-size: .9em;
  vertical-align: top;
  font-weight: 600;
}

.playlist_list ul h5{
  margin: 0;
  font-weight: 400;
}

/* Content Section */

.content_row{
  margin-bottom: .5em;
}

.content_row h3{
  margin: 0;
      display: inline-block;
      font-weight: 600;
      font-size: 1.25em;
}

.content_row .row_title h3{
  margin:0;
  display: inline-block;
  font-weight: 600;
  font-size: 1.25em;
}

.content_row .row_title h4{
  margin:0;
  display: inline-block;
  font-weight: 600;
  font-size: 1em;
}

.content_row .row_title button{
  vertical-align: top;
  margin-left: 1em;
}

.content_display{
  padding: .5em 0;
  position: relative;
}

.contentList_container{
  display: inline-block;
  width: calc(100% - 40px);
}

.content_display ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-column-gap: 5px;
  grid-template-columns: calc(20% - 4px) calc(20% - 4px) calc(20% - 4px) calc(20% - 4px) calc(20% - 4px);
}

.content_display ul li{
  display: inline-block;
}

.content_display ul li .content_id{
  display: none;
}

.content_display ul li:hover{
  cursor: pointer;
}

.content_item .promo_id{
  display: none;
}

.show_item .show_id{
  display: none;
}

.content_display ul li:hover .content_img img{

}

.content_img{
  width:100%;
  overflow: hidden;
}

.content_img img{
  width: 100%;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all  1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.content_title{
  height: 1em;
  line-height: 1em;
  overflow: hidden;
}

.content_title span{
  margin: 0;
  text-align: center;
  width: 100%;
  display: block;
  font-size: .75em;
  color: #8D9499;
}

.content_more{
  position: absolute;
  color: #8D9499;
  width: 1.75em;
  height: calc(100% - 28px);
  display: inline-block;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.content_more:hover{
  cursor: pointer;
  color: #232323;
  background:#EF9F00aa;
}

.content_arrow{
  font-size: 3em;
  display: inline-block;
  height: 100%;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all  1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.content_arrow i{
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
}

/* Pagination for content rows */

.createPagination{
  margin-top: .25em;
  display: block;
  padding-right: 40px;
}

.createPagination a{
  width: 2em;
  height: .5em;
  background-color: #ddd;
  border: 1px solid #F0F4FF;
}

.createPagination a:hover:not(.active){
  border: 1px solid transparent;
}


.createPagination a span{
  display: none;
}

/* Channel Information */

.channel{
  width: 100%;
  height: 15em;
  display:none;
  background-color: #8D9499;
  overflow: scroll;
}

#show{
    display:block;
}


.channel_information{
  width: 50%;
  height: calc(100% - 2em);
  display: inline-block;
}

.channel_information p{
  font-size: .85em;
}

.channel_container{
  padding: 1em;
}

.channel_information h3{
  margin: 0;
  color: #232323;
  font-weight: 800;
}

.channel_shows{
  display:inline-block;
  vertical-align: top;
  margin-left: .5em;
  width: 48%;
  height: calc(100% - 2em);
}

.channel_shows h3{
  margin: 0;
  font-weight: 600;
  color: #232323;
}

.channel_shows ul{
  list-style: none;
  padding: 0;
  margin: 1em 0;
}

.channel_shows ul li{
  padding: .25em 0;
}

.channel_shows ul li{
  padding: .25em 0;
  color: #F0F4FF;
  padding-left: .25em;
  background-color: #232323;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all  1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.channel_shows ul li:nth-child(even){
  background-color: #4B4B4B;
}

.channel_shows ul li:hover{
  cursor: pointer;
}

.channel_shows ul li:hover button{

}

.channel_shows ul li button{
  float: right;
  margin-right: .5em;
  padding: .25em 1em;
}

.show_info{
  background-color: #232323;
  width: calc(100% - .25em);
  margin-left: -.25em;
  padding: .25em;
  display: none;
}

.show_desc{
  width: 50%;
  display: inline-block;
}

.show_desc p{
  font-weight: 400;
  font-size: .75em;
  margin: .5em 0;
}

.show_desc p span{
  margin-left: .25em;
}

.show_clip{
  width: 48%;
  display: inline-block;
  vertical-align: top;
  margin-top: .5em;
}

.show_clip .clip_container{
  width: 100%;
  overflow: hidden;
  color: #EF9F00;
  position: relative;
}

.show_clip .clip_container:hover:before{
  content: "";
 display: block;
 position: absolute;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
 background: rgba(255,255,255, 0.5);
}

.show_clip .clip_container #play{
  position: absolute;
  top: calc(50% - 14px);
  font-size: 2em;
  right: calc(50% - 14px);
}

.show_clip .clip_container #clip_length{
  position: absolute;
  bottom: 0;
  font-size: .75em;
  right: 0;
  font-weight: 600;
  background-color: #232323aa;
  padding: 0 .25em;
  margin: 0;
}

.show_clip .clip_container img{
  width: 100%;
}

/* Account Page */

.account_container{
  padding: 1em;
}

.account_info{
  padding: 1em;
  background-color: #F0F4FF;
  height: 100%;
  box-sizing: border-box;
}

.account_menu{
  display: inline-block;
  width: 20%;
  min-width: 200px;
  box-sizing: border-box;
}

.account_menu ul{
  list-style: none;
  padding: none;
  padding-inline-start: 0;
  margin: 0;
}

.account_menu ul li{
  padding: .5em 0;
}

.account_menu ul li:hover{
  cursor: pointer;
}

.account_menu ul li:first-child{
  padding-top: 0;
}

.acc_menu_active{
  font-weight: 600;
}

.account_content{
  display: inline-block;
  vertical-align: top;
  width: calc(80% - 1em);
  max-width: calc(100% - 210px);
  box-sizing: border-box;
}

.account_content button{
  margin-bottom: 1em;
  font-size: .8em;
}

.account_content h5{
  font-weight: 400;
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 1em;
}

.account_content p{
  margin: 0;
  margin-bottom: 1em;
}

.account_content p a{
  text-decoration: none;
  color: #EF9F00;
}

.account_content p a:hover{
  color: #DA9100;
}

.border_break{
  width: 100%;
  margin-bottom: 1em;
  border-bottom: 1px solid #232323;
}

/* Channel Information */

.toplevel_container{
  padding: 1em;
}

.channel_image{
 display: inline-block;
 height: inherit;
 max-width: 35%;
 overflow: hidden;
}

.channel_image img{
  width: 100%;
  max-width: 330px;
}

.channel_desc{
  display:inline-block;
  vertical-align: top;
  float: right;
  min-height: 247.5px;
  min-width: 65%;
  width: calc(100% - 330px);
  background-color: #F0F4FF;
  padding: .25em;
  box-sizing: border-box;
}

.channel_desc h2{
  margin: 0;
}

.channel_desc p{

}

.channel_desc p:first-child{
  margin-top:0;
}

.channelselect_container{
  padding: 1em;
  clear: both;
}

.channelselect{
  padding: .5em 0;
  border-top: 1px solid #232323;
  border-bottom: 1px solid #232323;
  color: #232323;
}

.channelselect h2{
  margin: 0;
  display: inline-block;
  font-weight: 600;
  vertical-align: bottom;
  margin-right: .5em;
}

.channelselect select{
  vertical-align: top;
}

.cliplibrary_container{
  padding: 1em;
}

.cliplibrary .show_clip{
  width: 15em;
  margin: .25em .25em .25em 0;
  height: inherit;
}

.cliplibrary .show_clip .clip_container{
  height: inherit;
}

/* Add Promo */

.promo_modal{
  position: relative;
  width: 100%;
  height: 100%;
  padding: 1em;
}

.promo_img_preview a{
  font-weight: 600;
  cursor: pointer;
  display: block;
  padding: .5em;
  font-size: 1em;
  height: 36px;
  color: #232323;
  background-color: #F0F4FF;
  border: 1px solid #8D9499;
  border-radius: 5px;
}

.promo_img_preview a:hover{
  cursor: pointer;
  color: #EF9F00;
  border: 1px solid #EF9F00;
}

.promo_img_preview a i{
  margin-right: .5em;
}

.promo_modal .promo_img_preview{
  width: 200px;
  height: 100%;
  min-height: 100px;
  display: inline-block;
  position: relative;
  vertical-align: top;
}

.promo_modal .promo_form_container{
  width: calc(100% - 210px);
  display: inline-block;
  float: right;
  vertical-align: top;
}

.promo_modal #promo_file{
  position: absolute;
  min-width: auto;
  width: 200px;
  z-index: 1000;
  height: 100%;
  padding: 0;
  opacity: 0;
  cursor: pointer;
  left: 0;
}

.promo_img{
  padding: .25em .25em .25em 0;
  width: 200px;
  height: 120px;
  position: relative;
}

.after_overlay::after{
    content: "+";
    position: absolute;
    top: 0;
    font-size: 5em;
    line-height: 120px;
    font-weight: 600;
    text-align: center;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #8D9499aa;
    z-index: -100;
}

#promo_preview{
  width: 100%;
}

.promo_img_preview fieldset{
  margin-bottom: .5em;
}

.promo_modal video{
  display: none;
}

.promo_modal canvas{
  display: none;
}

.promo_form_container fieldset input{
  width: 100%;
}

.promo_form_container fieldset textarea{
  width: 100%;
}

.promo_button{
  text-align: right;
  display: block;
  clear: both;
}


/* Media Query */

@media screen and (max-width: 800px) {
  .loops_container ul{
    grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  }
  /*Creat Dashboard Lists */
  .content_display ul{
    grid-template-columns: calc(25% - 3.75px) calc(25% - 3.75px) calc(25% - 3.75px) calc(25% - 3.75px);
  }
}

@media screen and (max-width: 600px) {
  /* Navigation */
  .hamburger{
    display: inline-block;
  }
  .nav_menu{
    display: none;
    height: inherit;
  }
  .nav_menu ul{
    padding: 0;
    width: 100%;
  }
  .nav_menu ul li{
    display: block;
    width: 100%;
    text-align: center;
    border-top: 1px solid #F0F4FFaa;
  }

  .nav_menu ul li:last-child{
    display: block;
  }
  .account_icon{
    display: none;
  }
  /* End Navigation */

  /* Stats */
  .account_stats ul{
    display: block;
    justify-content: center;
    text-align: center;
  }
  .account_stats ul li{
    margin: .5em;
    width: calc(50% - 2em);
  }
  /* Main loop Page */
  .loops_container ul{
    grid-template-columns: calc(33% - 7px) calc(33% - 7px) calc(33% - 7px);
  }
  /*Creat Dashboard Lists */
  .content_display ul{
    grid-template-columns: calc(33% - 3.5px) calc(33% - 3.5px) calc(33% - 3.5px);
  }
}
